<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  
    <h1>STL Blog</h1>
    <h1>3d printing tips</h1>
    <p>Find the best tips from beggining to advanced printer.</p>
  </body>